/*
=== OVERALL STYLES ===
*/

body {
  max-height: 100vh;
  background-color: #fbfbfb;
}

pre,
code {
  background-color: #eee;
}

/*
=== NAVBAR STYLES
*/

.navbar-brand {
  margin-left: 40px;
}

.navbar.navbar-light {
  background-color: #e4e4e4;
}

/*
=== EDITOR, PREVIEW STYLES ===
*/

#editor-wrapper,
#preview-wrapper {
  width: 45vw;
}

#editor,
#preview {
  overflow: scroll;
  resize: none;
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
